// Default Theme
$theme-1: #5b3df2;
$theme-1-bg: #202840;
$theme-1-light: #6854ff;
$theme-1-light-bg: #ecf0f3;

// Theme 2: Funky
$theme-2: #f24981;
$theme-2-bg: #132b4c;
$theme-2-light: #f22469;
$theme-2-light-bg: #e0ecff;

// Theme 3: Techie
$theme-3: #12b28a;
$theme-3-bg: #272e34;
$theme-3-light: #4cd8b5;
$theme-3-light-bg: #e1eaf2;

// Theme 4: Soft
$theme-4: #ffbfe4;
$theme-4-bg: #2d3459;
$theme-4-light: #ffa6da;
$theme-4-light-bg: #edf0ff;

// Theme 5: Elegant
$theme-5: #f28179;
$theme-5-bg: #262d4d;
$theme-5-light: #f26b61;
$theme-5-light-bg: #f2f4ff;

// Theme 6: Starcraft
$theme-6: #8b79f2;
$theme-6-bg: #262d4d;
$theme-6-light: #8d61f2;
$theme-6-light-bg: #f2f4ff;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Josefin Sans", sans-serif;
  color: #444444;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(153, 204, 255, 0.1),
      inset 0 0 40px rgba(0, 102, 204, 0.5),
      inset 0 0 160px rgba(0, 102, 204, 0.3);
    bottom: 0;
    transition: box-shadow 1.5s;
    z-index: 1;
    color: white;

    .description {
      display: inline-block;
    }
  }

  img {
    width: 150px;
    height: 150px;
  }

  p {
    text-align: center;
  }

  .title {
    font-size: 18px;
  }

  .description {
    display: none;
    padding: 0 10px;
  }
}

.overlay {
  background-color: rgba(21, 25, 29, 0.3);
}

#pylon {
  &:hover {
    background-color: $theme-1;
  }
}

#solarite {
  &:hover {
    background-color: $theme-5;
  }
}

#kassia1 {
  &:hover {
    background-color: $theme-3;
  }
}

#kassia2 {
  &:hover {
    background-color: $theme-4;
  }
}

#kassia3 {
  &:hover {
    background-color: $theme-2;
  }
}

#coming1 {
  &:hover {
    background-color: $theme-6;
  }
}

#coming2 {
  &:hover {
    background-color: $theme-6;
  }
}

#coming3 {
  &:hover {
    background-color: $theme-6;
  }
}

#coming4 {
  &:hover {
    background-color: $theme-6;
  }
}

#coming5 {
  &:hover {
    background-color: $theme-6;
  }
}

// slick slider styles
.slick-slide div {
  outline: none !important;
}

.slick-slide {
  &:focus,
  a {
    outline: none;
  }
}
