/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Josefin Sans", sans-serif;
  color: #444444;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 1px white;
  color: white;
}

.block:hover {
  bottom: 0;
  z-index: 1;
  color: white;
}

.block:hover .description {
  display: inline-block;
}

.block img {
  width: 150px;
  height: 150px;
}

.block p {
  text-align: center;
}

.block .title {
  font-size: 18px;
}

.block .description {
  display: none;
  padding: 0 10px;
}

.overlay {
  position: relative;
}

#countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pylon {
  color: #5b3df2;
}

#pylon img {
  width: 200px;
  height: 140px;
}

#pylon:hover {
  color: white;
  background-color: #5b3df2;
}

#solarite {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#solarite:hover {
  color: white;
  background-image: none;
  background-color: #f79250;
}

#kassia1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#kassia1:hover {
  color: white;
  background-image: none;
  background-color: #94953d;
}

#kassia2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#kassia2:hover {
  color: white;
  background-image: none;
  background-color: #6a4222;
}

#kassia3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#kassia3:hover {
  color: white;
  background-image: none;
  background-color: #29534f;
}

#vault {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#vault:hover {
  color: white;
  background-image: none;
  background-color: #384260;
}

#coming1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#coming1:hover {
  color: white;
  background-image: none;
  background-color: #8b79f2;
}

#coming2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#coming2:hover {
  color: white;
  background-image: none;
  background-color: #8b79f2;
}

#coming3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#coming3:hover {
  color: white;
  background-image: none;
  background-color: #8b79f2;
}

#coming4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#coming4:hover {
  color: white;
  background-image: none;
  background-color: #8b79f2;
}

#coming5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

#coming5:hover {
  color: white;
  background-image: none;
  background-color: #8b79f2;
}

.slick-slide div {
  outline: none !important;
}

.slick-slide {
  width: 1% !important;
}

.slick-slide:focus,
.slick-slide a {
  outline: none;
}

@media screen and (max-width: 639px) {
  .slick-slide {
    width: 100% !important;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: url(../img/sexy-pylon-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */